<%- include ('partials/header.ejs') -%>

<div class="jumbotron bg-light">

  <h1 class="title-blog"> Sorry :( </h1>
  <p class="lead">
    Page doesn't exist!
  </p>
  <hr />
 
</div>

<%- include ('partials/footer.ejs') -%>