<%- include ('partials/header.ejs') -%>

<div class="jumbotron bg-light">
  <h1 class="title-blog">About</h1>
  <p class="lead">
    Our main focus is provide a platform for people and they can express their ideas with
    respect and tolerance.
    <br>
    Remember, write your crazy ideas and share with other people! 
  </p>
  <hr />
</div>

<%- include ('partials/footer.ejs') -%>