<%- include ('partials/header.ejs') -%>

<div class="jumbotron bg-light">
  <h1 class="title-blog">Contact</h1>
  <p class="lead">
    You can contact us at
    <a href="mailto:contact@dailyjournal.com">contact@dailyjournal.com</a>
  </p>
  <hr />
</div>

<%- include ('partials/footer.ejs') -%>
