<%- include ('partials/header.ejs') -%>

<div class="jumbotron bg-light">

  <h1 class="title-blog"> <%= postSelected.title %> </h1>
  <p class="lead">
    <%= postSelected.description %>
  </p>
  <hr />
 
</div>

<%- include ('partials/footer.ejs') -%>